<a href="https://colab.research.google.com/github/RenzDomingo/PLNG211-2-OLFU-QC/blob/main/Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#If Statement

a = 5
b= 5

if b>a:
  print("b is greater than a")

#Elif Statement

elif b<a:
  print("b is less than a")

#Else Statament

else:
  print("they are both equal")

they are both equal

In [2]:
#Short hand if
a = 5
b= 6

if a>b: print("a is greater than b")

#Short hand if.. else

print("a is greater than b") if a>b else print("a is less than b")

a is less than b

In [3]:
#And and or statement
a = 5
b= 6
c= 7

if c>b and b>a:
  print("both operands are TRUE")

if c>b or a>b:
  print("at least one of the operands is TRUE")

both operands are TRUE
at least one of the operands is TRUE

In [4]:
#Nested if

x = 9
if x>10:
  print("Above ten")
  if x>20:
    print("And also above 20")
    if x>30:
      print("And also above 30")
      if x>40:
        print("And also above 40")
        if x>50:
          print("And also above 50")
        else:
          print("But not above 50")
      else:
        print("But not above 40")
    else:
      print("But not above 30") 
  else:
    print("But not above 20")
else:
  print("But not above 10")

But not above 10

In [5]:
#Example 1. Write a program that determines if the input age is qualified to vote or not. 
#The qualifying age is 18 years old and above.

age = 15
if age >= 18:
  print("You are qualified to vote")
else:
  print("You are not qualified to vote")

You are not qualified to vote

In [6]:
print('Enter your age:')
age = int(input())

if age >= 18:
  print("You are qualified to vote")
else:
  print("You are not qualified to vote")

Enter your age:
19
You are qualified to vote

In [7]:
#For loop

week = ["Sunday",'Monday', 'Tuesday', 'Wednesday', "Thursday","Friday", "Satuday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Satuday

In [8]:
week = ["Sunday",'Monday', 'Tuesday', 'Wednesday', "Thursday","Friday", "Satuday"]
for x in week:
  print(x)
  if x == "Thursday":
      break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [9]:
#Using for loop to display only THURSDAY
week = ["Sunday",'Monday', 'Tuesday', 'Wednesday', "Thursday","Friday", "Satuday"]
for x in week:
  if x == "Thursday":
    print(x)
    break

Thursday

In [10]:
#looping through String

for x in "Philippines":
  print(x)

P
h
i
l
i
p
p
i
n
e
s

In [11]:
#The range () function

#for x in range (6):
  #print(x)
for x in range (3,7,3):
  print(x)

3
6

In [12]:
#Nested loops
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
#While loop

i = 1
while i <= 6:
  print(i)
  i+=1

In [13]:
#while loop with break
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
#while loop with break Application 1. Using while loop, display only 3
i = 1
while i<6:
  if i ==3:
    print(i)
    break
  i+=1

In [14]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [15]:
#Else statement
i = 1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6